/* Reset default browser styles */
body {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url(img/tierra-mallorca-NpTbVOkkom8-unsplash.jpg);
}




    



.side-bar {
   height: 100%;
   
   color: #fff;

   

    background-color: #333;
   
    padding-top: 20px;
}

.side-bar h1 {
    display: inline;
    margin-bottom: 20px;
}

.side-bar ul{
    

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: none;

}

.side-bar  li{

    float: right;
    margin-left: 50px;
    margin-right: 50px;
    
}
 .side-bar li a{
    
    display: block;
  padding: 8px;
  background-color: #dddddd;
 }
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dash {
    font-size: 24px;
    color: #333;
}

.container{
    margin-top: 18%;
}

.container ul{ 
    display: flex ; 
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
}

.container ul li a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 40px;
    border-radius: 10px;    

}

.container ul li a:hover{
    background-color: black;
    color: white;
}



.container ul li{
    text-decoration: none;
}


